<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <ul>
      <li v-for="(post, index) in posts" :key="index">
        andere dingen
        {{post.userId}}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import postsModule from '@/store/modules/posts';
import { PlaceholderPost } from '../store/models';

@Component
export default class Campaigns extends Vue {
  get posts(): PlaceholderPost[] | null {
    return postsModule.posts;
  }

  private mounted() {
    // postsModule.fetchPosts();
  }
}
</script>
