<template>
  <nav>
    <router-link
      v-for="navigationItem in navigationItems"
      :key="navigationItem.title"
      :to="navigationItem.path"
    >
      {{ navigationItem.title }}
    </router-link>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

interface RouterLink {
  title: string;
  path: string;
}

@Component
export default class TheNavigation extends Vue {
  private navigationItems: RouterLink[] = [
    { title: 'Campaigns', path: '/' },
    { title: 'Settings', path: '/settings' },
  ];
}
</script>

<style scoped>
nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #42b983;
  text-decoration: none;
}

nav a.router-link-exact-active {
  color: #2c3e50;
}
</style>
